#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card_footer {
  display: flex;
  flex-direction: row;
  color: blue;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_image {
  height: auto;
  width: 99%;
  border-radius: 20px;
}

.card_container {
  display: flex;
  width: 35%;
  flex-direction: column;
  border: rgb(186, 165, 165) solid 0.2px;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

.article_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: auto;
}

.loading-text {
  font-size: 3rem;
  margin-bottom: 10px;
}

.loading-dots {
  display: flex;
  justify-content: center;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #000;
  margin: 0 4px;
  animation: loading-animation 0.5s infinite;
}

@keyframes loading-animation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1.2;
  }
  100% {
    opacity: 0.4;
  }
}

#article_title {
  margin: 20px;
  font-size: 1.5rem;
  background-color: rgba(156, 189, 219,0.2);
  padding: 10px;
  border-radius: 20px;
}

#article_img {
  border-radius: 50px;
}

#article_img_container {
  margin: 20px;
  padding: 10px;
}

#article_body_container {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  align-items: stretch;
  background-color: rgba(156, 189, 219,0.2);
  padding: 10px;
  border-radius: 20px;
}

#article_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
}

.votes_comment_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(156, 189, 219,0.2);
  padding: 10px;
  border-radius: 20px;
}


button {
  line-height: 2rem;
  border: none;
}

.comment_row {
  display: flex;
  flex-direction: column;
  background-color: rgb(208, 226, 231);
  margin:3px;
}
.comment_body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}
.comment_meta {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
}

.comment_meta_item {
  margin-left:10px;
}