#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card_footer {
  display: flex;
  flex-direction: row;
  color: blue;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_image {
  height: auto;
  width: 99%;
  border-radius: 20px;
}

.card_container {
  display: flex;
  width: 35%;
  flex-direction: column;
  border: rgb(186, 165, 165) solid 0.2px;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

.article_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: auto;
}

.loading-text {
  font-size: 3rem;
  margin-bottom: 10px;
}

.loading-dots {
  display: flex;
  justify-content: center;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #000;
  margin: 0 4px;
  animation: loading-animation 0.5s infinite;
}

@keyframes loading-animation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1.2;
  }
  100% {
    opacity: 0.4;
  }
}